<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>|| Car Show ||</title>   <!-- website title, seen on tab -->
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> <!-- google api font used along website-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Calling jquery to be used in the js-->
    <script src="js/main.js"></script>
</head>
<body> <!--body of whole page created here-->
    <div id="main">
<!-- Not useful code as it is from the beginning of my website
    <ul class="nav">
        <li><a href="">Cars</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
    </ul>
-->     <span id="circle" class="circle"></span>
        <div id="container" onClick="home()">
            <!-- <img class="logo" src="../image/logo.png" alt="pic of altezza"></img> -->

            <h1>
                WELCOME TO THE FUTURE <!--Header/ title for website as it seen up the top left on the page-->
               
            </h1>
           
        </div>
        
        <!--First container which includes the first options that appear when the webstie opens, that being vehicles, news, and about-->
        <div id="container1" class="container1">
            <div class="heads" id="vehicles" >
                <h2>Vehicles</h2> <!--Vehicles clickable front page link-->
            </div>
            <div class="heads" id="news" >
                <h2>News</h2> <!--News clickable front page link-->
            </div>
            <div class="heads" id="about" >
                <h2>About</h2> <!--About clickable front page link-->
            </div>
        </div>
        
        <!-- Vehicles page of content -->
        <div id="container2" class="container2">
            <div class="sub" id = "altezza">
                <h3 >Altezza</h3>
            </div>
            <div class="sub" id = "hilux">
                <h3>Hilux</h3>
            </div>
            <div class="sub" id = "chaser">
                <h3>Chaser</h3>
            </div>
            <!-- unwanted code 
                <div class="sub" id = "right">
                <h3>Supra</h3>
            </div> -->
            <!-- <div class="sub" id = "left">
                <h3>AE86</h3>
            </div> -->
        </div>  

        <!-- News page of content -->
        <div id="container3" class="container3">
            <div id = "news2">
                <!-- <p></p> toyota twitter api -->
                <a class="twitter-timeline" href="https://twitter.com/Toyota?ref_src=twsrc%5Etfw">Tweets by Toyota</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            
            </div>
        </div>  

        <!-- About page for information about me and the cars. -->
        <div id="container4" class="container4">
            <div class="aboutStuff">
                <p>Link to original page I have recreated: <a href="https://www.dillinger.tv/">Dillinger</a></p>
                <!--writing about the page and myself here-->
                <p>
                    This page is created to show the few different types
                     of Toyota’s in the industry and inform you as a user 
                     about the performance of the vehicles and features along 
                     with it. This page is underdevelopment as it is a part 
                     of a polytechnic project about website development. 
                     I have not listed all types of toyota’s, only ones which 
                     appeal to myself. All of the images used are sourced 
                     from ‘unsplash.com’ as they supply free to use images. 
                </p>
                <p>
                    I am a Polytechnic student in Otago, New Zealand 
                    who is creating this website as a part of an assignment 
                    for my degree. The site has been in development since 
                    20/7/2021. It has been a side project for myself while 
                    managing other assignments and assessments. Hopefully 
                    you find my website useful towards your needs.
                </p>
                <p>
                    For the API, I was intending to use one which would display total car sales
                    in a specific country/region. But I'm unable to as all these require payment
                    to use. Therfor I have used a simple Twitter API to show Toyotas latest Twitter 
                    feed in the news tab.
                </p>
            
            </div>
        </div>  

        <!-- Information on each car -->
        <div id="container5" class="container5">
            <div id="altezzaInfo" class="altezzaInfo">
                <!--All the info and pic of an altezza-->
                <h3>Toyota Altezza</h3>
                <img src="../image/altezza.jpg" alt="pic of altezza"></img>
                <p>The Altezza was introduced in 1999, and was 
                        made available with a choice of 3 engines; 
                        the highly coveted RS 200 model came with 
                        Toyota’s legendary 2.0 litre inline 4-cylinder 
                        engine mated with a 6 speed close ratio manual 
                        transmission. The dual VVTi engine is a rev 
                        happy unit, and power output comes to a 
                        whopping 210 horsepower at 7600 RPM. Also 
                        available was a 5-speed automatic with a 
                        marginally reduced power output. The Altezza 
                        RS200 clearly has sporting credentials.
                </p>
                <p>
                        The engine, unlike competitors, is not 
                        turbocharged and thus provides a seamless 
                        flow of power at all engine speeds. Couple 
                        that with the late 90s BMW 3 series, which’s 
                        turbocharged engine was famous for being 
                        laggy till about 4000RPM and then exploding 
                        in a wave of power, the Altezza seems more 
                        fitting to the sport-luxury genre.
                </p>
            </div>  
            <!--All the info and pic of a Hilux-->  
            <div id="hiluxInfo" class="hiluxInfo">
                <h3 >Toyota Hilux</h3>
                <img src="../image/hilux.jpg" alt="pic of hilux"></img>
                <p>The Toyota HiLux offers a smooth diesel engine, 
                    carries big loads comfortably, and tows very 
                    well. You can get it with two-wheel drive or 
                    dual-range 4WD, and in 4WD trim it is very 
                    good off-road. The HiLux comes in a big 
                    variety of models, among them comfortable, 
                    family-friendly Double-Cabs. Toyota’s 
                    remote-area service is second to none and all 
                    versions are equipped with autonomous 
                    emergency braking.</p>
            </div> 
            <!--All the info and pic of a Chaser-->  
            <div id="chaserInfo" class="chaserInfo">
                <h3>Toyota Chaser</h3>
                <img src="../image/chaser.jpg" alt="pic of chaser"></img>
                <p>The Chaser was considered to be just below the Crown, 
                    both in size and luxury. The smaller size also 
                    made it more desirable to Japanese customers 
                    as it meant lower annual taxes. That being said, Toyota didn’t skimp when it came to the fun aspect of the car. By the fourth generation, the Chaser was fitted with the iconic 1JZ engine, and by the fifth generation, the 2JZ was added to the roster.</p>

            </div>
        </div>
    </div>
</body>
</html>
<!--end of website-->