<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|| Car Show ||</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div id="main">
<!--
    <ul class="nav">
        <li><a href="">Cars</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
    </ul>
-->    
        <div id="container" onClick="home()">
            <h1>
                WELCOME TO THE FUTURE
               
            </h1>
           
        </div>

        <div id="container1" class="container1">
            <div class="heads" id="vehicles" >
                <h2>Vehicles</h2>
            </div>
            <div class="heads" id="news" >
                <h2>News</h2>
            </div>
            <div class="heads" id="about" >
                <h2>About</h2>
            </div>
        </div>
        
        <!-- Vechies page of content -->
        <div id="container2" class="container2">
            <div class="sub" id = "left"  onClick="altezza()">
                <h3 >Altezza</h3>
            </div>
            <div class="sub" id = "right" onClick="hilux()">
                <h3>Hilux</h3>
            </div>
            <div class="sub" id = "left" onClick="chaser()">
                <h3>Chaser</h3>
            </div>
            <!-- <div class="sub" id = "right">
                <h3>Supra</h3>
            </div> -->
            <!-- <div class="sub" id = "left">
                <h3>AE86</h3>
            </div> -->
        </div>  

        <!-- News page of content -->
        <div id="container3" class="container3">
            <div id = "news2">
                <p>Stuff about news that shows here</p>
            </div>
        </div>  

        <!-- About page for information about me and the cars. -->
        <div id="container4" class="container4">
            <div class="aboutStuff">
                <p>Link to original page I have recreated: <a href="https://www.dillinger.tv/">Dillinger</a></p>
                <p>
                    This page is created to show the few different types
                     of Toyota’s in the industry and inform you as a user 
                     about the performance of the vehicles and features along 
                     with it. This page is underdevelopment as it is a part 
                     of a polytechnic project about website development. 
                     I have not listed all types of toyota’s, only ones which 
                     appeal to myself. All of the images used are sourced 
                     from ‘unsplash.com’ as they supply free to use images. 
                </p>
                <p>
                    I am a Polytechnic student in Otago, New Zealand 
                    who is creating this website as a part of an assignment 
                    for my degree. The site has been in development since 
                    20/7/2021. It has been a side project for myself while 
                    managing other assignments and assessments. Hopefully 
                    you find my website useful towards your needs.
                </p>
            
            </div>
        </div>  

        <!-- Information on each car -->
        <div id="container5" class="container5">
            <div id="altezzaInfo" class="altezzaInfo">
                <h3>Toyota Altezza</h3>
                <img src="../image/" alt="pic of altezza"></img>
                <p>This is a cool car </p>
                
            </div>
            <div id="hiluxInfo" class="hiluxInfo">
                <h3>Toyota Hilux</h3>
                <img src="../image/" alt="pic of hilux"></img>
                <p>This is a cool car </p>
            </div> 
            <div id="chaserInfo" class="chaserInfo">
                <h3>Toyota Chaser</h3>
                <img src="../image/" alt="pic of chaser"></img>
                <p>This is a cool car </p>

            </div>
        </div>
    </div>
</body>
</html>