<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|| Car Show ||</title>   <!-- website title, seen on tab -->
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> <!-- google api font used along website-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Calling jquery to be used in the js-->
    <script src="js/main.js"></script>
</head>
<body> <!--body of whole page created here-->
    <div id="main">
<!-- Not useful code as it is from the beginning of my website
    <ul class="nav">
        <li><a href="">Cars</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
    </ul>
-->     <span id="circle" class="circle"></span>
        <div id="container" onClick="home()">
            <!-- <img class="logo" src="../image/logo.png" alt="pic of altezza"></img> -->

            <h1>
                WELCOME TO THE FUTURE <!--Header/ title for website as it seen up the top left on the page-->
               
            </h1>
           
        </div>
        
        <!--First container which includes the first options that appear when the webstie opens, that being vehicles, news, and about-->
        <div id="container1" class="container1">
            <div class="heads" id="vehicles" >
                <h2>Vehicles</h2> <!--Vehicles clickable front page link-->
            </div>
            <div class="heads" id="news" >
                <h2>News</h2> <!--News clickable front page link-->
            </div>
            <div class="heads" id="about" >
                <h2>About</h2> <!--About clickable front page link-->
            </div>
        </div>
        
        <!-- Vehicles page of content -->
        <div id="container2" class="container2">
            <div class="sub" id = "altezza">
                <h3 >Altezza</h3>
            </div>
            <div class="sub" id = "hilux">
                <h3>Hilux</h3>
            </div>
            <div class="sub" id = "chaser">
                <h3>Chaser</h3>
            </div>
            <!-- unwanted code 
                <div class="sub" id = "right">
                <h3>Supra</h3>
            </div> -->
            <!-- <div class="sub" id = "left">
                <h3>AE86</h3>
            </div> -->
        </div>  

        <!-- News page of content -->
        <div id="container3" class="container3">
            <div id = "news2">
                <!-- toyota twitter api -->
                <a class="twitter-timeline" href="https://twitter.com/Toyota?ref_src=twsrc%5Etfw">Tweets by Toyota</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            
            </div>
        </div>  

        <!-- About page for information about me and the cars. -->
        <div id="container4" class="container4">
            <div class="aboutStuff">
                <p>Link to original page I have recreated: <a href="https://www.dillinger.tv/">Dillinger</a></p>
                <!--writing about the page and myself here-->
                <p>
                    This page is created to show the few different types
                     of Toyota’s in the industry and inform you as a user 
                     about the performance of the vehicles and features along 
                     with it. This page is underdevelopment as it is a part 
                     of a polytechnic project about website development. 
                     I have not listed all types of toyota’s, only ones which 
                     appeal to myself. All of the images used are sourced 
                     from ‘unsplash.com’ as they supply free to use images. 
                </p>
                <p>
                    I am a Polytechnic student in Otago, New Zealand 
                    who is creating this website as a part of an assignment 
                    for my degree. The site has been in development since 
                    20/7/2021. It has been a side project for myself while 
                    managing other assignments and assessments. Hopefully 
                    you find my website useful towards your needs.
                </p>
                <p> <!--About my intended use of a car API-->
                    For the API, I was intending to use one which would display total car sales
                    in a specific country/region. But I'm unable to as all these require payment
                    to use. Therfor I have used a simple Twitter API to show Toyotas latest Twitter 
                    feed in the news tab.
                </p>
            
            </div>
        </div>  

        <!-- Information on each car -->
        <div id="container5" class="container5">
            <div id="altezzaInfo" class="altezzaInfo">
                <!--All the info and pic of an altezza-->
                <h3>Toyota Altezza</h3>
                <img src="../image/altezza.jpg" alt="pic of altezza"></img> <!--Altezza picture-->
                <!--Info about the car-->
                <p>The manufacturer’s thoughts on car individuality and the needs of the driver sometimes deviate. This difference is not rare, especially when selling sporty cars. “Sports” is a word with different interpretations for vehicles, from high-spec models in racing sports, to casual cruises through the city, or urban runabouts.</p>
                <p>Meet the Toyota Altezza. It is a compact, rear wheel drive, smart looking sports sedan and in my eyes only has one "fault" and that is its lack of raw power. However in my book the Altezza is truly a thing of beauty. It sports the right proportions with its wheels placed as far to each corner as possible, complimented by bulging bodywork in all the right places and sleek lines running front to back. The Tezza is hands down one of the best looking sedans currently rooming around the streets of Zimbabwe.</p>
                <p>The most notable feature of the Altezza's design is at the rear, where the taillights are coloured units set within a large clear lens. This style soon became popular in the aftermarket scene, dubbed the “Altezza lights”.</p>
                <p>The Altezza’s boot is slightly smaller than other sedans of this size at 400 litres which is enough for three medium suitcases. It also comes in many different trim levels which add on some exterior pieces to the car like the front lip, side skirts, spoiler, more aggressive bumpers and 17 inch alloy wheels.</p>
                <p>The interior has a sporty, premium feel. The dashboard instruments are a unique feature, with a small pod housing a large central speedometer with smaller gauges set in it on either side of it. This is meant to follow the style of a high-end watch. The steering wheel has a sporty shape and is wrapped in leather.</p>
                <p>As standard it comes equipped with a navigation system which will not work in Zimbabwe unfortunately. The navigation system pops out pn top of the centre dash and below are dials for the climate control and the six-disc CD changer stereo. Another sporty touch is the transmission shifter, which is a chrome ball on both manual and automatic models. The pedals are also a drilled aluminium design.</p>
                <p>The seats are fairly comfortable with large bolsters top and bottom for extra support. They are not the best or the worst to sit in but they are good enough for even long distance travels. The rear seat offer sufficient head and legroom and can accommodate three people fairly well though the middle seat is undoubtedly the most uncomfortable place to be in the car.</p>
                <p>The Altezza is available with three sizes of engines. The entry-level “AS200” models use a 2-litre six-cylinder engine, paired with a five-speed manual or four-speed automatic. The sporty “RS200” uses a special high-performance 2-litre four-cylinder engine paired with a six-speed manual or five-speed automatic, while the top AS300 “Gita” model is available with a 3-litre six-cylinder engine with a five-speed automatic.</p>
                <p>Personally I do find the 2-litre four- cylinder engine the best option to go for. The 4-cylinder 2L 3S-GE-engine was made exclusively for the RS200 model. It uses titanium valves and variable timing. This engine is high revving which means to enjoy it’s full potential you really have to push on it. I did find that between 4500rpm and 6000rpm range is its sweet spot for torque delivery.</p>
                <p>The 2-litre six-cylinder engine produces 114kW and 195Nm which is not a lot for an engine of this size. It is, however, delivered at low engine RPM and is very smooth. The four-speed automatic makes smart shifts and is also very smooth and can be shifted into a power mode.</p>
                <p>Traction control reduces the chance of wheelspin especially in wet conditions whilst the brakes if maintained do a great job at stopping this sports sedan. The Altezza is notable for how well it steers and handles. The steering wheel feels well weighted and responsive while the ride is firm yet still comfortable.</p>
                <p>While the Altezza shares the solid build quality and good reputation for reliability as other Toyotas, those that remain on the road at 20+ years old are likely to have been driven fairly hard. They are sports sedans and are used as such. The engine uses a cambelt which will require regular replacement.</p>
                <p>When you stack up the Toyota Altezza against it’s local rivals it comes on top on all fronts. It’s main rivals in the Zimbabwean market are the BMW 3 series (E46), Mercedes Benz C Class (W203), Subaru Legacy B4, Mazda Atenza and the Nissan Skyline GT. The Altezza manages to strike driving experience and cost of ownership very well compared to its aforementioned rivals. Toyotas are built to last and if you take care of yours, you can easily hit a million kilometres in it.</p>
            </div>  
            <!--All the info and pic of a Hilux-->  
            <div id="hiluxInfo" class="hiluxInfo">
                <h3 >Toyota Hilux</h3>
                <img src="../image/hilux.jpg" alt="pic of hilux"></img><!--Hilux picture-->
                <!--Info about the car-->
                <p>The world’s best-selling pick-up truck… if you leave out America. Which is like saying Burger King does the most popular cow sandwich on Earth… if you forget about McDonalds. But even excepting the USA’s insatiable thirst for open-bed freedom on wheels, the Toyota Hilux is a sales phenomenon. Since 1968, Toyota’s shifted 18 million of these humble workhorses to everyone from farmers to freedom fighters. Naturally, you’d expect this heavily facelifted, thoroughly updated 2020 Hilux not to risk messing with such a popular recipe.</p>
                <p>Wrong. Toyota has been poring over the spreadsheets, and lately they make grim reading for the Hilux. Since 2012, pick-up truck sales in Europe have doubled, swept along in the torrent of clamour for all things 4x4 and SUV-ish. But while truck sales have boomed, the Toyota’s market share has been eaten into by the likes of the Ford Ranger Wildtrack and VW Amarok – trucks aimed at wooing lifestyle enthusiasts in Shepherds Bush as much as they impress actual sheep-herders in the bush.</p>
                <p>Toyota’s reacted to the trend for people desiring high-spec, well-kitted pick-up trucks with powerful motorway-happy engines with this refreshed contender. There’s now the option of a 2.8-litre engine on the toppier trim levels, instead of the workaday 2.4-litre. Inside, the range toppers boast heated leather seats, an automatic gearbox and Toyota’s latest smartphone-literate touchscreen. There’s even a JBL hi-fi and LED lights.</p>
                <p>Then there’s the mechanicals. Toyota used to place a multi-tonne load in the Hilux’s bed, then tune the suspension. That meant a bouncy, unsettled ride when the truck was unladen. Because most lifestyle pick-up truck drivers never place more than a bottle of screenwash and a pair of trainers in the cargo bay, the latest Hilux has been tuned to ride best without so much as a bag of sand slung in the bed.</p>
                <p>Great news… and very worrying. Not just because the Hilux is supposed to have the simplicity and longevity of Stonehenge, but because this tactic isn’t necessarily a winner. The Mercedes X-Class has already been dropped from UK sale after its premium take on Nissan Navara underpinnings failed to convince the pick-up truck faithful. They’ll sniff out a faker in moments.</p>
                <p>So, has the Hilux lost its way, or reinforced its position as a modern motoring icon? We’ve tested the two top-spec models: the Hilux Invincible and Invincible X, to find out if they’re worthy of the best-seller or not.</p>
            </div> 
            <!--All the info and pic of a Chaser-->  
            <div id="chaserInfo" class="chaserInfo">
                <h3>Toyota Chaser</h3>
                <img src="../image/chaser.jpg" alt="pic of chaser"></img><!--Chaser picture-->
                <!--Info about the car-->
                <p>If you are a car enthusiast, you may think of becoming a proud owner of a JDM car. JDM cars are powerful and have modularity so you can figure upon them. Also, many motor-heads want to collect them because they are totally made for the Japanese Domestic Market (JDM). Today we are going to discuss the Toyota Chaser.</p>
                <p>The Toyota Chaser was firstly made available in the market as a 1977 stock, sharing the chassis with Toyota Mark II and Toyota Cressida. Though it first came as a 2 door coupe and a 4 door sedan, but later in the second generation the coupe version was stopped.</p>
                <p>The car was in production until the year 2000 and evolved for 6 generations. The first generation started from 1977 to 1980 with chassis X30, X31, X40, and X41. With an emphasis on the car economy rather than performance, the Chaser engine capacity was at 1.8L – 2.0 L for the 4-cylinder models and 2.0L for the 6-cylinder models. The front-wheel-drive further brought in fuel efficiency, by giving power to the front wheels. The Chaser and its platform allies are considered a class below the Crown, allowing Toyota to offer a sedan with a similar level of luxury.</p>
                <p>The engine we are looking at today is Toyota’s 1JZ-GTE: a 2.5L, inline 6, 24 valves VVT-i beauty with a CT15B turbocharger.  It produces 280 lb. ft torque and 280 horsepower. The older version of this engine came with twin turbos, but the single turbo version is the better choice – increased fuel efficiency without a reduction in power.</p>
                <p>This engine is available on the rear-wheel drive model only, but other engines are available with 4WD. The engine is mated to a 5-speed manual or 4-speed automatic transmission. There are 3 other low-power petrol engine options and diesel as well. The sixth-generation Toyota Chaser has 5 engine options which are; the 2.0L 1G-FE I6, the 2.5L 1JZ-GE I6, the 2.5L 1JZ-GTE turbo I6, the 3.0L 2JZ-GE I6, and the 2.4L 2L-TE turbo diesel I4.</p>
                <p>The interior design of the Toyota Chaser set new standards in automotive luxury, yet also stresses functional convenience―as seen in such features as the low filling atop the instrument panel for ensuring better forward visibility, and the location of meters and gauges in a location conveniently distinct from the controls and switches. The interior is contented and roomy for a 5-seat roadster.</p>
                <p>The interior color choice is black or dark brown each carefully designed for coordination with the exterior color schemes, to mirror both the subtlety and the sophistication modern motorists seek in their cars.</p>
                <p>As for the seats, 4 different types intended individually for the different model grades are available. While the Toyota Chaser is fashioned for a compact outer appearance, plenty of interior space has been provided, and expanded window areas have been incorporated to give the car a breezy, bright feeling. Comfort has also been improved through a quieter ride, achieved through a design that reduces engine noise as well as the roar and other types of annoying vibration. Seats with fine cushion and holding characteristics have been mounted in the Chaser, while the driver’s seat is vertically adjustable with rubber supports. Radio speakers are located in the door panels on each side, to greatly boost total excellence.</p>
                <p>The free-flowing exterior lines set the car’s basic theme. The Chaser’s body styling is a harmony of innovative proportioning that pressures elegance and athleticism befitting a luxury-class personal car. The exterior is contoured for the best aerodynamic characteristics.</p>
                <p>Another improvement in the Chaser body is the introduction of a much wider range of colors, including an optional silver metallic two-tone scheme and “tone on tone” finish―a gray metallic in the Super version to answer the modern tastes in colors of today’s motorists.</p>
                <p>The Toyota Chaser is an enjoyable car that’s easy to live with for a fair fuel economy. If you are looking for the best JDM cars that you can purchase, Toyota Chaser is one of the high-end options. Importing them from Japan to anywhere is not a hassle anymore. All you need to do is to find an authentic dealer like BE FORWARD.</p>
            </div>
        </div>
    </div>
</body>
</html>
<!--end of website-->