
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#container5::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



/*First container which includes the header of page visible top left of website*/
#container{
    display: flex;
    justify-content: flex-start;
    
    color:rgb(255, 255, 255);
    font-size: 150%;
    padding-left: 3%;
    /* margin: 0;
    border: 0; */
    
    /*Tested text shdow for design but didn't fit well*/
    /*text-shadow:
    0 1px #e5472c,
    -1px 0 #d75e19,
    -1px 2px #e5472c,
    -2px 1px #d75e19,
    -2px 3px #d75e19,
    -3px 2px #d75e19,
    -3px 4px #e5472c,
    -4px 3px #d75e19,
    -4px 5px #e5472c,
    -5px 4px #d75e19,
    -5px 6px #e5472c,
    -6px 5px #d75e19,
    -6px 7px #e5472c,
    -7px 6px #d75e19,
    -7px 8px #e5472c,
    -8px 7px #d75e19;
    */

    /*Tested text shdow for design but didn't fit well*/
    /*text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/
    /*text-shadow: 4px 4px 0 #ffd217, 8px 8px 0 #5ac7ff;*/

    /*This is the text shadow/ design I decided to go with*/
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;



    
}

/*The body of the page so this is css used amongst the whole page, setting background image and font*/
body{
    
    font-family: 'Bebas Neue', cursive;
    background: url("../image/carbackground_darker.jpg") ;   
    background-size: cover;
    background-attachment: fixed;

    background-blend-mode: darken ;

}

/* .logo{
    width: 7%;
    height: 7%;
    padding-top: 1.5%;
} */

/*Giving the entire html a height set to fit the display*/
html{
    height:100%;
}


/* h2{
} */

/*The 3 options when page is opened, vehicles, news, about*/
.heads{  
  
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem 0 0.8rem 4rem;
    height:auto;
    width:auto;
    
    /*text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/


}
#vehicles:hover, #news:hover, #about:hover, #altezza:hover, #hilux:hover, #chaser:hover{
    text-shadow: -1px 1px 1px white, -2px 2px 0 #ffffff, -3px 3px 0 #ffffff, -4px 4px 0 #ffffff, -5px 5px 0 #ffffff, -6px 6px 0 #ffffff, -7px 7px 7px black;
    color: #ffd217;
    /* font-size: 110%; */
}

/*this container includes the info of .heads above, but includes all of the text etc*/
#container1{
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;
    color: rgb(255, 255, 255);
    float: left;
    width: auto;
    height: 70% ;
    font-size: 350%;
    position: absolute;
    

}
/*styling and positioning the listed vehicles*/
#container2{
    color: rgb(255, 255, 255);
    font-size: 300%;
    /* float: right;  */
    position: absolute;
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;
    display: none;
    margin-left:20%;
    opacity: 0;
    transition: 1s; 
    /* visibility: hidden; */
}

/*this container includes all the info and pics of each vehicles and styles them*/
#container5{
    color: rgb(255, 255, 255);
    font-size: 300%;
    /* float: right;  */
    /* float:right; */
    padding-left: 35%;
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    width:50%;
    /* opacity: 0; */
    /* opacity: 0;
    transition: 1s; */
    /* visibility: hidden; */
}
/* #container2.fade{
    opacity: 1;
} */

/*Container about styling/ positioning the news*/
#container3{ 
    visibility: hidden; 
    display: none; 
    margin-left:20%;
    overflow-y:scroll;
    height:700px;
    opacity: 0;

}
/*Info about the about page being styled/ positioned*/
#container4 {
    margin-left:20%;
    margin-right: 10%;
    /* visibility: hidden; */
    display: none;
    position: absolute;
    opacity: 0;

}   

/*sub is used to identify the class for each car*/
.sub{
    position: relative;

    /* display: flex; */
    /* flex-direction: column; */
    
}


/*styling the paragraph tags*/
p {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0.8rem 0 0.8rem 4rem; */
    height:auto;
    /* width:60%; */
    color: white;
    font-size:30px;
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 2px black;

    
}

/*positioning each car to be the same*/
#altezzaInfo, #hiluxInfo, #chaserInfo{
    display: none;
    /* position: absolute;
    
    padding-left: 10% !important; */
    /* background-color: lightgrey;
    opacity: .2; */
    width:100%;
    
    opacity: 0;
    /* position: ; */
}

#altezza,#hilux,#chaser{
    padding-bottom:5%;
    font-size:130%;
}


/*trying out an ocpacity behind the car **testing stages** */
.backOpacity {
    background-color: lightgrey;
}

/*setting the car images to a smaller woorkable size*/
img {
    width: 40%;
    height: 30%;
}


/*All unused old code*/
/*ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    
}
li{
    list-style-type: none;  
    display: inline;
    font-size: 500%;
    padding: 50px;
    
}

a{
    
    text-decoration: none;
    color: white;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

a:hover{
    filter:blur(1px);
    color: rgb(255, 174, 174);
}*/